<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Diklat MITR 11">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>FLOADS-About</title>

    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-host-cloud.css">
    <link rel="stylesheet" href="assets/css/owl.css">
<!--

Host Cloud Template

https://templatemo.com/tm-541-host-cloud

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>FLOADS <em>E-Logbook</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data">Data</a>
              </li>
            </ul>
          </div>
          <div class="functional-buttons">
            <ul>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About Us</h1>
            <p><a href="index.html">Home</a> / <span>About Us</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->


    <!-- About Us Starts Here -->
    <div class="about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-image">
              <img src="assets/images/our-team.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <div class="section-heading">
                <span>About Us</span>
                <h2>Diklat MITR 11</h2>
                <p>Kegiatan yang bermula sejak 15 Januari 2021 ini diikuti oleh 8 mahasiswa dan mahasiswi Departemen Ilmu dan Teknologi Kelautan. </p>
              </div>
              <div id='tabs'>
                  <ul>
                    <li><a href='#tabs-1'>Our History</a></li>
                    <li><a href='#tabs-2'>Our Activity</a></li>
                  </ul>
                  <section class='tabs-content'>
                    <article id='tabs-1'>
                      <p>MIT pada tahun 1995 awalnya terbentuk sebagai sebuah program keprofesian dibawah Himpunan Mahasiswa Ilmu dan Teknologi Kelautan (HIMITEKA). Lalu, MIT menjadi organisasi kemahasiswaan yang bergerak dalam bidang keilmuan hingga pada tahun 2017 berganti nama menjadi MIT+R.
                      <br><br>Diklat pertama kali dicetuskan pada tahun 2005. Diklat merupakan suatu ajang pengenalan dan pembelajaran bagi para calon anggota MIT+R. Pewarisan ilmu dari generasi ke generasi tentunya diperlukan untuk perkembangan organisasi dan terwujudnya sistem yang dinamis. </p>
                    </article>
                    <article id='tabs-2'>
                      <p>Kegiatan mahasiswa diklat MITR 11 yaitu mengeratkan tali persaudaraan dengan cara menempuh tujuan yang sama, yaitu menuntut ilmu untuk mencapai masa depan yang lebih terang </p>
                    </article>
                  </section>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us Ends Here -->


    <!-- Team Starts Here -->
    <div class="team-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="section-heading">
              <span>Our Team</span>
              <h2>Meet the badass people</h2>
              <p>Learn, Fight & Just Do it!</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
              <img src="assets/images/pedil.png" alt="">
              <div class="down-content">
                <h4>Muhammad Fadhilah Tanhir</h4>
                <span>Ketua Kelas</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
              <img src="assets/images/dio.png" alt="">
              <div class="down-content">
                <h4>Alnodio Lotaldy</h4>
                <span>Anggota</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
              <img src="assets/images/bach.jpg" alt="">
              <div class="down-content">
                <h4>Bachtiar Adi Apriliansyah</h4>
                <span>Anggota</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
              <img src="assets/images/nadja.jpeg" alt="">
              <div class="down-content">
                <h4>Kuntum Khaira Nadja</h4>
                <span>Anggota</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
              <img src="assets/images/rafly.jpg" alt="">
              <div class="down-content">
                <h4>Muhammad Rafly Amanullah Fahmi</h4>
                <span>Anggota</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
                <img src="assets/images/wawan.png" alt="">
              <div class="down-content">
                <h4>Muhammad Wahid Hasyim</h4>
                <span>Anggota</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
              <img src="assets/images/septi.jpeg" alt="">
              <div class="down-content">
                <h4>Septi Aleyda</h4>
                <span>Anggota</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
              <img src="assets/images/cezar.jpeg" alt="">
              <div class="down-content">
                <h4>Xavercius Cezar Pratama</h4>
                <span>Anggota</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Ends Here -->

    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>About Us</h2>
              </div>
              <p>Diklat MITR 11 is a group of 8 people that dedicated itself to learn 4 elements of the MITR: programming, mechanic, electronic, administration.</p>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>More Information</h2>
              </div>
              <ul class="footer-list">
                <li>Phone: <a href="#">+62 878-8406-5454</a></li>
                <li>Whatsapp: <a href="#">+62 878-8406-5454</a></li>
                <li>Email: <a href="#"> 27tanhir@apps.ipb.ac.id</a></li>
                <li>Instagram: <a href="#">mitr_ipb</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="sub-footer">
              <p>Copyright &copy; 2021 Diklat MITR 11
				- Designed by <a rel="nofollow" href="https://www.youtube.com/watch?v=KU41dey4YYI">Diklat MITR 11</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Ends Here -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>