<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Diklat MITR 11">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>FLOADS</title>

    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style (2).css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-host-cloud.css">
    <link rel="stylesheet" href="assets/css/owl.css">
<!--

-->
  </head>

  <body background="assets/images/bg tambahan.jpg" style="background-repeat: no; background-size: cover; background-attachment: fixed;">

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/" width="100"><h2>FLOADS <em>E-Logbook</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data">Data</a>
              </li>
            </ul>
          </div>
          <div class="functional-buttons">
            <ul>
              <li><a href="/login">Sign in</a></li>
              <li><a href="/register">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2 style = "font-size: 100px;">FLOADS</h2>
              <p>Fisheries <p2>Logbook</p2> and <p2>Detection System</p2></p>
              <div class="logo">
              <img src="assets/images/logoipb.png" alt="ipb" width="100">
              <img src="assets/images/logoitk.png" alt="itk" width="100">
              <img src="assets/images/logomitr.png" alt="mitr" width="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>FLOADS</h2>
          <p>Fisheries Logbook and Detection System (FLOADS) merupakan sebuah sistem manajemen wilayah penangkapan perikanan yang memanfaatkan metode machine learning untuk dapat melakukan fungsi kerja log book perikanan</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/images/1.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Desain 1</h4>
              <a href="assets/images/1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="assets/images/2.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Desain Tampak Iso 1</h4>
              <a href="assets/images/2.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/images/3.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Desain Tampak Iso 2</h4>
              <a href="assets/images/3.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/images/4.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Desain Tampak Depan</h4>
              <a href="assets/images/4.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/images/5.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Desain Tampak Depan</h4>
              <a href="assets/images/6.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/images/6.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Desain Tampak Depan</h4>
              <a href="assets/images/6.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Features Starts Here -->
    <div class="features-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Quality Feature</span>
                <div class="section-title">
                  <h2>FLOADS Features</h2>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>IoT Based Data Transfer</h4>
              <p>Data transfer using Iot Based system for more reliable transfer</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-02.png" alt="">
              </div>
              <h4>YOLOv5 Object Detection</h4>
              <p>Our FLOADS uses YOLOv5 object detection with --% accuracy</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-03.png" alt="">
              </div>
              <h4>Raspberry pi 4 Powered</h4>
              <p>Our FLOADS uses Raspberry pi 4 microcomputer to process data much faster</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-04.png" alt="">
              </div>
              <h4>E-Logbook</h4>
              <p>No more worries of bad handwriting or wet paper</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features Ends Here -->


    <!-- Testimonials Starts Here -->
    <div class="testimonials-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Testimonials</span>
                <div class="section-title">
                  <h2>What they say about us</h2>
                </div>
            </div>
          </div>
          <div class="col-md-10 offset-md-1">
            <div class="owl-testimonials owl-carousel">
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"Keren bang"</p>
                <h4>Fadhil</h4>
                <span>Ketua Kelas Diklat MITR 11</span>
              </div>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"Salam dari Binjai"</p>
                <h4>Binjai</h4>
                <span>Binjai</span>
              </div>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"Keren bgt asli, bisa buat deteksi Gura gk nih?"</p>
                <h4>Rafly Amanullah</h4>
                <span>No Life</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonials Ends Here -->


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>About Us</h2>
              </div>
              <p>Diklat MITR 11 is a group of 8 people that dedicated itself to learn 4 elements of the MITR: programming, mechanic, electronic, administration.</p>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>More Information</h2>
              </div>
              <ul class="footer-list">
                <li>Phone: <a href="#">+62 878-8406-5454</a></li>
                <li>Whatsapp: <a href="#">+62 878-8406-5454</a></li>
                <li>Email: <a href="#"> 27tanhir@apps.ipb.ac.id</a></li>
                <li>Instagram: <a href="#">mitr_ipb</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="sub-footer">
              <p>Copyright &copy; 2021 Diklat MITR 11	- Designed by <a rel="nofollow" href="https://www.youtube.com/watch?v=KU41dey4YYI">Diklat MITR 11</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Ends Here -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>    
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/accordions.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>